MONGO_URI=your_mongodb_connection_string
PORT=5000
JWT_SECRET=your_jwt_secret
GOOGLE_CLIENT_ID=your_google_client_id

SEPAY_BANK_CODE=Vietcombank
SEPAY_ACCOUNT_NUMBER=0010000000355
SEPAY_ACCOUNT_NAME=TEN_CHU_TAI_KHOAN
SEPAY_WEBHOOK_API_KEY=your_sepay_webhook_api_key
